.fa, .fas, .fab  
    font-family: 'FontAwesome' !important
    font-style: normal
   
footer#colophon.site-footer.hero
    background: $primary

*
    font-family: Helvetica

ul.is-unstyled 
  list-style: none
  margin: 0
  padding: 0
.content
    color: $white
    background: $primary