.fa, .fas, .fab  
    font-family: 'FontAwesome' !important
    font-style: normal
   
footer#colophon.site-footer.hero
    background: $grey
 
*
    font-family: Helvetica

div.entry-content
    min-height: 100vh

span.posted-on
    display: none
span.tags-links
    display: none
div.nav-links
    display: none
ul.is-unstyled 
  list-style: none !important
  margin: 0 !important
  padding: 0 !important
.content
    color: $white
    background: $primary
img.is-cover-fit
    object-fit: cover
    min-width: 100vw
    height: 100vh
div.container
    // margin: 0

div.content
    padding-top: 0
    width: 100vw
    padding-bottom: 0
    margin-bottom: 0
  

footer 
    border-top: 12px
div.post-content
    width: auto

div.footer-content
    width: 85%
    margin: 0 auto


span.posted-on a
    color: $black
span.author a
     color: $black 
span.posted-on a:hover
    color: $primary
span.author a:hover
     color: $primary
div.entry-footer
     width: auto
div.type-post
    margin-top: 4em
div.nav-links a
    color: black
article.comment-body
    color: black
article.comment-body a
    color: black
article.comment-body a:hover
    color: $primary

div.comment-content
    background: transparent
    width: 80vw
    
.icon-text
    color: $grey-lighter
    text-transform: uppercase 
.add-padd
    padding: 25px
    @media(max-width: 769px)
        padding: 6px
.wpcf7 input, .wpcf7 textarea
    width: 60vw
    border-radius: 8px
    border: 1px solid $white
    padding-left: 8px
    font-size: 22px
    background: rgba(255,255,255,0.9)
    border-bottom: 3px double $white
    color: $black

.btn-submit-donation
    background-color: $primary
    color: $white
    font-size: 1.7em
    padding: 15px
    border: 2px solid white
    border-radius: 8px
    margin: 3% 0 0 20%



.btn-submit-donation:hover
        background: $white
        color: $primary
     

input#express-submit
    border-radius: 12px
    border: 2px solid $white 
    color: $white
    background: $primary
    width: 80%
    margin: 3% 0 0 10%
    height: auto
    
input#express-submit:hover
    color: $primary
    background: $white
    border: 2px solid $primary
    
    
form
    padding-top: 2vh
    padding-bottom: 12vh
    padding-left: 20vw
    
    @media(max-width: 769px)
        padding-left: 10vw
        padding-right: 0vw

.wpcf7 label
    font-weight: 600
    font-size: 1em
 
select 
    font-size: 1em
    font-family: 'Minion Pro'
 
.wpcf7 input, .wpcf7 textarea 
    @media(max-width: 769px)
        width: 80vw 

.wpcf7 input[type="checkbox"]
    text-align: left
    width: auto
   
   
    
span.wpcf7-list-item
    display: block
    border-radius: 12px
    width: 60vw
    margin: 3px
    label 
        font-size: 1em
        font-weight: 100
    @media(max-width: 769px)
        width: 80vw 
        border: 0

.wpcf7 input[type="radio"]
    text-align: left
    width: auto
    
    
span.label.inline
    display: inline !important
    padding: 10px
    
span.required-star
    display: inline
    color: red
    font-size: 1.2em
.display-inherit 
    display: inherit
textarea#comment
    width: 100%
    height: 150px
        
td.xl65
    font-size: 1.8em
    font-weight: 100
    letter-spacing: 2.3px

td.xl66
    font-size: 1.8em
    font-weight: 800

h1.top25
    padding-top: 35px !important

table#income-guidelines
    max-width: 90vw !important
    font-size: .8em

div#donate-float
    position: absolute
    top: 18em

.text-over-image
    font-size: 1.2em
    position: absolute
    top: 26em
    font-family: 'Minion Pro'
    letter-spacing: -.09em
    background: rgba(255,255,255,0.8)
    border-top-right-radius: 65px
.text-over-image-horiz
    font-size: 1.2em
    position: absolute
    top: 16em
    font-family: 'Minion Pro'
    letter-spacing: -.09em
    background: rgba(255,255,255,0.8)
    border-top-right-radius: 65px


button.hide-form
    margin: 25px 25% 25px 25%
    width: 50%
    height: 40px
    display: inline
    color: $blue
    background:  $white
    border: 0
    border-radius:  12px
    font-weight: 800
button.hide-form:hover 
    background: $blue
    color: $white
    border: 1px solid white

fieldset
    border: 2px solid white

h2.widget-title 
    margin: 0
    padding-right: 55vw
form#searchform
   margin: 0
   height: 124px
   padding: 0 auto
   margin: 0 auto
 
input#searchsubmit
 
    width: 145px
       

.img-blur 
    filter: blur(.5px)

div.half-page-top-mar
    margin-top: 45vh
    @media(max-width: 769px)
        margin-top: 20vh
div.quarter-page-top-mar
    margin-top: 15vh
    @media(max-width: 769px)
        margin-top: 8vh
div.half-page-bot-mar
    margin-bottom: 45vh
    @media(max-width: 769px)
        margin-bottom: 20vh
div.quarter-page-bot-mar
    margin-bottom: 15vh
    @media(max-width: 769px)
        margin-bottom: 8vh


@font-face 
    font-family: 'Minion Pro'
    src: url('frontend/assets/fonts/Minion Pro Regular.ttf')
    src: url('wordpress/wp-content/themes/bulmapress-master/frontend/assets/fonts/Minion Pro Regular.ttf')
    src: url('wp-content/themes/bulmapress-master/frontend/assets/fonts/Minion Pro Regular.ttf')
.minion 
    font-family: 'Minion Pro'

.blank-temp
    width: 100%
    padding-top: 114px
    font-size: 2.0em
    margin-right: 25px
    line-height: .9em 
    padding-left: 20vw
    @media(max-width: 800px)
        font-size: 1.6em
        padding-left: 10vw
    @media(max-width: 600px)
        font-size: 1.2em
        padding-left: 5vw
    @media(max-width: 450px)
        font-size: .8em
        padding-left: 2vw
div.home-bg
    font-family: Helvetica

header
    border-bottom: 4px solid rgba(255,255,255,0.7)


div.animated-bg 
	animation: green-to-blue 22s ease infinite

.animated-bg-offset-1
	animation: green-to-blue 22s ease infinite
.animated-bg-offset-2
	animation: green-to-blue 26s ease infinite
.animated-bg-offset-3
	animation: green-to-blue 32s ease infinite

div.eighty-five
    width: 75%
    @media(max-width: 769px)
        width: 100%

div.paper
    width: 100vw
    background: $light !important
    a
        color: $green
div.paper.no-bottom 
    margin-bottom: 0
div.no-bottom
    padding-bottom: 0 !important
    margin-borrom: 0 !important
#newsletter-div.no-bottom
    padding-bottom: 0 !important
    margin-borrom: 0 !important

.video-content
    width: 100vw
    min-height: 98vh
    @media(max-width: 980px)
        min-height: 75vh 
    @media(max-width: 780px)
        min-height: 55vh 
    @media(max-width: 580px)
        min-height: 35vh        
    @media(max-width: 400px)
        min-height: 25vh        
    iframe
        min-height: 98vh
        @media(max-width: 980px)
            min-height: 75vh 
        @media(max-width: 780px)
            min-height: 55vh 
        @media(max-width: 580px)
            min-height: 35vh        
        @media(max-width: 400px)
            min-height: 25vh 


.habitat-bold
    letter-spacing: -2px
    font-family: 'Minion Pro'
    display: block
    font-size: 2.1em !important
    line-height: 41px

.habitat-bolder
    letter-spacing: -1.2px
    font-family: 'Minion Pro' 
    font-size: 1.5em
    font-weight: 200 !important
    line-height: 22px
.min-400
    min-height: 400px

div.is-absolute
    position: absolute !important
.floats-rel
    width: 400px
    height: 400px
    background: rgba(255,255,255,0.5)
    position: relative !important

label.newsletter
    display: inline
input.newsletter
    font-size: 14px
    width: 40vw
    display: inline
    margin: 5px
    padding: 10px
    background: $white
    color: $black
    border-radius: 18px
    border: 0
    @media(max-width: 769px)
        width: 90% 
        margin: 5%
input.newsletter[type="submit"]
    color: $black
    display: inline
    width: 160px
.is-centered
    text-align: center
.zero-auto
   padding-left: 25px
form.newsletter
    padding: 20px 0 20px 0
li.unstyled
    list-style: none
    border: 5px solid rgba(10, 10, 10, 0.05)
    border-radius: 50%
    padding: 65px
    height: 300px
    width: 300px
    text-align: center
    box-shadow: 6px 2px $grey 
    margin-left: 0
    @media(max-width: 958px)
        margin: 0 auto
.circles
    width: 100vw
    display: flex
    align-content: space-evenly

    
.circle
    border-radius: 50%
   
div.column#restore-green 
    background-color: $green
    color: $white
div.column#restore-blue
    background-color: $blue
    color: $white
    @media(min-width: 650px)
        border-right: 8px solid $white
div.columns.bottom-border
    border-bottom: 8px solid $white
.fb-page
    padding: 25px
    border-radius: 15px
    @media(max-width: 650px)
        padding-left: 23vw
        iframe
            border: 0
            height: 80vh
            width: 40vw
            min-width: 500px
#cff 
    font-size: 10px
            
img.img-responsive
    @media(max-width:1200px) and (min-width:846)
        width: 120px
        height: auto

div.white-bg
    background: white !important
    color: black
    a 
       color: $blue

.auto-width
    width: auto !important
select
    display: block
    font-size: 1.2em

.donation-form input, .donation-form textarea
    width: auto
    height: auto
    border-bottom: 1px solid $black
    border-radius: 0
    background: rgba($primary, 0.2)


h3.squarebox
    padding: 20px
    border: 1px solid white
    border-radius: 1px
    

a.showcoupon
    color: $green

.woocommerce
    label
         color: $black
    table.shop_table
        border: 0  
    input
        font-size: 1em
        color: $black  
    .checkout-button
        backround-color: $green
    .products.columns-4
        backround-color: $green
    ul.products li.product a img
        width: auto
    form.woocommerce-ordering
        padding: 0
    .related.products 
        display: none
    form.cart 
        padding: 0
    .card-image
        display: none
    div.product .woocommerce-tabs .panel
        min-height: 0

.rounded-corners
    border-radius: 8px

div#update.is-size-6.has-text-centered
   border-top-right-radius: 8px
   border-top-left-radius: 8px
   background: $dark
   color: $white
   padding: 5px

div.control.has-addons
    display: flex

.woocommerce-MyAccount-content
     list-style: none

li.nostyle 
    list-style: none
    border-radius: 4px
    a 
        color: $black

li.nostyle:hover, li.nostyle:active
    background: $white
    color: $primary

#donation-form
    padding-left: 0
    background: $white
    .card
        width: auto
pre.hidden
    display: none
        
span.board-member-name
    font-size: 1.8em
    font-weight: 400
    font-family: 'Minion Pro'
    letter-spacing: -0.1em
    line-height: 0.7

span.board-member-title
    font-variant: small-caps
    font-size: 1.2em
    font-weight: 400
    letter-spacing: -0.05em
    line-height: 0.8em

span.board-member-name-title
    font-size: 2.2em
    font-weight: 600
    font-family: 'Minion Pro'
    letter-spacing: -0.1em
    line-height: 0.7

span.ancillary-title
    font-size: 0.8em
    font-style: italic

h1.bod
    font-family: minion pro
    
    font-weight: 800

p.habitat-emphasis
    font-family: 'Minion Pro'
    font-weight: 100
    letter-spacing: .9em

.is-huge
    font-size: 5em !important
    letter-spacing: -0.1em
    font-weight: 100

.donation-option 
    font-family: 'Minion Pro'
    font-size: 1.4em
    letter-spacing: -0.1em
    border-radius: 12px




input[type="radio"] 
  display: none


    /* simulate radiobutton appearance using pseudoselector */
input[type="radio"] + label:before 
  content: ""
  /* create custom radiobutton appearance */
  display: inline-block
  width: 15px
  height: 15px
  padding: 3px
  margin-right: 5px
  /* background-color only for content */
  background-clip: content-box
  border: 1px solid #bbbbbb
  background-color: $white
  border-radius: 50%


/* appearance of checked radiobutton */
input[type="radio"]:checked + label:before, input[type="radio"]:active + label:before 
  background-color: $black

input[type="radio"]:hover + label:before 
  background-color: $primary

/* resetting default box-sizing */
*,
*:before,
*:after 
  box-sizing: border-box

label.error 
    display: block
    color: $warning
    padding-left: 12px
    font-weight: 100