.fa, .fas, .fab  
    font-family: 'FontAwesome' !important
    font-style: normal
   
footer#colophon.site-footer.hero
    background: $grey
 
*
    font-family: Helvetica

ul.is-unstyled 
  list-style: none
  margin: 0
  padding: 0
.content
    color: $white
    background: $primary
img.is-cover-fit
    object-fit: cover
    min-width: 100vw
    height: 100vh
div.container
    margin: 0

div.content
    width: 100vw
    padding-bottom: 35px
    margin-bottom: 0
footer 
    border-top: 12px